body
  margin 0

#app > div
  display flex
  #leftpage
    width 250px ; padding 2px ; margin 5px
    background #fefeff
  #rightpage
    flex-grow 1 ; max-width 1000px ; padding 2px ; margin 5px
    background #fefeff
    button
      cursor pointer

header
  display flex ; flex-direction column
  background #f8f8ff
  > div
    display flex ; align-items center ; flex-shrink 0 ;  padding 0 10px
    button { height: 2.5em ; min-width: 3em }
    textarea { resize: none ; white-space: nowrap ; overflow: hidden ; height: 2.5em ; width: 3em }
  .kanban
    display flex ; align-items center
    img { height: 1.5em ; padding: 0 5px }
    .idea > h3:not(:empty) { background-image: url(assets/bulb.svg) }
    .idea > h3:empty:before { content:'idea' }
    .assigned > h3:not(:empty) { background-image: url(assets/gear.svg) }
    .assigned > h3:empty:before { content:'assigned' }
    .finished > h3:not(:empty) { background-image: url(assets/tick.svg) }
    .finished > h3:empty:before { content:'finished' }
    h3
      min-width 150px ; margin 0 ; padding 5px 0 5px 1.2em
      &:not(:empty)
        background-position left center ; background-size 1em 1em ; background-repeat no-repeat

trash_button(size)
  button
    position absolute ; font-size size
    color #a00 ; background #fff8f8 ; border none
    visibility hidden
  &:hover button
    visibility visible


.bffp
  > div:first-child
    position: relative
    trash_button(3em)
    button:nth-child(2)
      left .9em
h1
  text-align center ; margin 0 auto
  font 3em sans-serif ; max-width 600px
  &:empty:before { content:"BFFP" ; color: #eee }


.claim
  position relative
  > div:first-child
    trash_button(2em)
h2
  font 2em sans-serif
  margin-left 40px
  &:empty:before { content:"Claim" ; color: #eee }


.req
  position relative ; padding 3px 0
  display flex ; align-items center ; height 40px
  > div:first-child
    trash_button(1em)
  .description
    display flex ; align-items center
    padding-left 4px
    textarea
      font-size .8em ; height 100% ; width 300px ; resize none ; border 0
      background transparent
    img
      width .8em ; height 1.0em ; padding .6em .1em ; border 0 ; border-radius 5px ; margin 1px
      cursor pointer
      &.overwrite { color: #ccc }
      &.📱 { background: #fff0ff }
      &.📂 { background: #f0fff0 }
      &.💻 { background: #f0f0ff }
      &.👓 { background: #fffff0 }
    &.📱 { background: #fff0ff }
    &.📂 { background: #f0fff0 }
    &.💻 { background: #f0f0ff }
    &.👓 { background: #fffff0 }
  .tags
    display flex ; flex-wrap wrap ; width 80px ; font .6em monospace
    input
      width 4em ; height 1em ; border none ; margin 3px ; font-size 1em
      &::placeholder { color: #eee }
  .versions
    min-width 20px ; font .8em monospace
    &:after           { content:"+" ; color: #ddd }
    .version          { display: none   ; color: #888 ; padding: 3px ; cursor: pointer }
    .version.assigned { display: inline ; color: #000 }
    &:hover .version  { display: inline }
    &:hover:after     { content:"" }
  .discussion
    height 100% ; display flex ; align-items center
    > span { color: #666 }
    > div
      width 400px ; padding 10px
      background #ccc ; border-radius 15px
      z-index 1 ; position absolute ; top 43px ; left 250px
      visibility hidden
      > p:empty:before { content:"rationale" ; color: #999 }
    &:hover
      > span { font-weight: bold }
      > div { visibility: visible }

h3
  font 1em sans-serif
  width 150px ; margin 0 0 0 100px
  &:empty:before { content:"req" ; color: #eee }

.tag
  font: 1em monospace
  padding 2px ; border-radius 5px ; margin 1px
  cursor pointer
  &.c0  { background: #eef }
  &.c1  { background: #eff }
  &.c2  { background: #fef }
  &.c3  { background: #ffe }
  &.c4  { background: #def }
  &.c5  { background: #edf }
  &.c6  { background: #efd }
  &.c7  { background: #dfe }
  &.c8  { background: #fed }
  &.c9  { background: #fde }

.chat
  display flex ; flex-direction column ; width 100%
  div
    display flex ; flex-direction column
    span
      font-size .5em ; color #806
    p
      flex-grow 1 ; margin 0 0 0 2px ; border 0 ; resize none
  textarea
    resize none ; flex-grow 1 ; min-height 3em ; margin-top 5px


.tagconfig
  margin-bottom 50px
  div
    display: flex ; align-items: center
    height 1.2em ; background #f8f8f8 ; padding 4px ; border-radius 5px ; margin 2px
  > div:last-child
    background #eee
.treeroot
  .treeitem
    margin 10px 0 0 10px
  & > div > h3
    display: inline ; margin 5px
  .treeitem > div > h3
    display: inline ; margin 5px