body
  margin 0

#app
  max-width 1000px
  background #fefeff
  padding 10px 50px
  margin 0 auto
  button
    cursor pointer

trash_button(size)
  button
    position absolute ; font-size size
    color #a00 ; background #fff8f8 ; border none
    visibility hidden
  &:hover button
    visibility visible

.bffp
  > div:first-child
    trash_button(3em)
h1
  text-align center ; margin 0 auto
  font 3em sans-serif ; max-width 600px
  &:empty:before { content:"BFFP" ; color: #eee }

.claim
  position relative
  > div:first-child
    trash_button(2em)
h2
  font 2em sans-serif
  margin-left 40px
  &:empty:before { content:"Claim" ; color: #eee }


.req
  position relative ; padding: 3px 0
  display flex ; align-items center ; height 40px
  > div:first-child
    trash_button(1em)
  > div:nth-child(2)
    display flex ; align-items center
    padding-left 4px
    textarea
      font-size .8em ; height 100% ; width 300px ; border 0
      background transparent
    button:focus
      outline 0
    button
      font-size 1em ; width 1.1em ; height 2em ; padding 0 ; border 0 ; border-radius 5px ; margin 1px
      &.overwrite { color: #ccc }
      &.📱 { background: #fff0ff }
      &.📂 { background: #f0fff0 }
      &.💻 { background: #f0f0ff }
      &.👓 { background: #fffff0 }
    &.📱 { background: #fff0ff }
    &.📂 { background: #f0fff0 }
    &.💻 { background: #f0f0ff }
    &.👓 { background: #fffff0 }
h3
  font 1em sans-serif
  width 150px ; margin 0 0 0 100px
  &:empty:before { content:"req" ; color: #eee }
